@model IPLAwardManagementSystem.DTOs.PlayerAwardDto
@{
    ViewData["Title"] = "Delete Nomination";
}
<h2 class="mb-4">Confirm Deletion</h2>
<p>Are you sure you want to remove this nomination?</p>
<dl class="row">
    <dt class="col-sm-2">Player</dt>
    <dd class="col-sm-10">@Model.PlayerName</dd>
    <dt class="col-sm-2">Award</dt>
    <dd class="col-sm-10">@Model.AwardName</dd>
</dl>
<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="PlayerId" />
    <input type="hidden" asp-for="AwardId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>