@model IPLAwardManagementSystem.DTOs.PlayerAwardUpdateDto
@{
    ViewData["Title"] = "Edit Nomination";
}
<h2 class="mb-4">Edit Nomination</h2>
<form asp-action="Edit">
    <div class="form-check">
        <input asp-for="IsWinner" class="form-check-input" />
        <label asp-for="IsWinner" class="form-check-label"></label>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Update</button>
</form>