@model IEnumerable<IPLAwardManagementSystem.DTOs.PlayerAwardDto>

<table class="table">
    <thead>
        <tr>
            <th>Player Name</th>
            <th>Award Name</th>
            <th>Year</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)

        {
            <tr>
                <td>@item.PlayerName</td>
                <td>@item.AwardName</td>
                <td>@item.NominationDate.Year</td>
                <td>@(item.IsWinner ? "Winner" : "Nominated")</td>
            </tr>
        }
    </tbody>
</table>
